<div
  id="mageplaza-betterpopup-block1"
  class="mageplaza-betterpopup-block"
  style="display: none;"
>
  <aside
    role="dialog"
    class="modal-popup popup__search-by-size modal-slide _show"
    aria-describedby="modal-content-10"
    data-role="modal"
    data-type="popup"
    tabindex="0"
    style="z-index: 902;"
  >
    <div id="mageplaza-betterpopup-block1" data-role="focusable-start" tabindex="0"></div>
    <div id="bio_ep1" class="modal-inner-wrap" data-role="focusable-scope">
      <header class="modal-header">
        <button id="bio_ep_close1" class="action-close" data-role="closeBtn" type="button">
          <span>Close</span>
        </button>
      </header>
      <div id="modal-content-10" class="modal-content" data-role="content">
        <div class="search-by-size-popup" style="">
          <div class="search-by-size-popup__content">
            <div class="search-by-size-popup__title">
              <strong> SELECT SIZE </strong>
            </div>
            <div class="search-by-size-popup__text">
              <ul>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+2&amp;size=US+2">US 2</a></li>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+4&amp;size=US+4">US 4</a></li>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+6&amp;size=US+6">US 6</a></li>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+8&amp;size=US+8">US 8</a></li>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+10&amp;size=US+10">US 10</a></li>
                <li><a href="https://maticevski.com/us/catalogsearch/result/?q=US+12&amp;size=US+12">US 12</a></li>
                <li>
                  <a href="https://maticevski.com/us/catalogsearch/result/?q=One+Size&amp;size=One+Size">One Size</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
  </aside>
</div>
