<div id="size-chart" class="size-chart" style="display: none;">
  <div data-content-type="row" data-appearance="contained" data-element="main">
    <div
      class="size-chart"
      data-enable-parallax="0"
      data-parallax-speed="0.5"
      data-background-images="{}"
      data-background-type="image"
      data-video-loop="true"
      data-video-play-only-visible="true"
      data-video-lazy-load="true"
      data-video-fallback-src=""
      data-element="inner"
      data-pb-style="AIF4TLC"
    >
      <h1 class="a-center" data-content-type="heading" data-appearance="default" data-element="main">Sizing Chart</h1>
      <div
        class="pagebuilder-column-group"
        data-background-images="{}"
        data-content-type="column-group"
        data-appearance="default"
        data-grid-size="12"
        data-element="main"
        data-pb-style="DLDJTXP"
      >
        <div
          class="pagebuilder-column-line"
          data-content-type="column-line"
          data-element="main"
          data-pb-style="MYF4P7G"
        >
          <div
            class="pagebuilder-column"
            data-content-type="column"
            data-appearance="full-height"
            data-background-images="{}"
            data-element="main"
            data-pb-style="V6VW8MX"
          >
            <div class="size-chart__text1" data-content-type="text" data-appearance="default" data-element="main">
              <p>If you need help selecting a size, please refer to our size chart below as a guide.</p>
              <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                  <tr>
                    <td style="width: 14.2615%;">Size</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.2615%;">12</td>
                    <td style="width: 14.2615%;">14</td>
                    <td style="width: 14.276%;">16</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Australia</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.2615%;">12</td>
                    <td style="width: 14.2615%;">14</td>
                    <td style="width: 14.276%;">16</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">USA</td>
                    <td style="width: 14.2615%;">3</td>
                    <td style="width: 14.2615%;">4</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.276%;">12</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">UK</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.2615%;">12</td>
                    <td style="width: 14.2615%;">14</td>
                    <td style="width: 14.276%;">16</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Italy</td>
                    <td style="width: 14.2615%;">38</td>
                    <td style="width: 14.2615%;">40</td>
                    <td style="width: 14.2615%;">42</td>
                    <td style="width: 14.2615%;">44</td>
                    <td style="width: 14.2615%;">46</td>
                    <td style="width: 14.276%;">48</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">France</td>
                    <td style="width: 14.2615%;">34</td>
                    <td style="width: 14.2615%;">36</td>
                    <td style="width: 14.2615%;">38</td>
                    <td style="width: 14.2615%;">40</td>
                    <td style="width: 14.2615%;">42</td>
                    <td style="width: 14.276%;">44</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Japan</td>
                    <td style="width: 14.2615%;">5</td>
                    <td style="width: 14.2615%;">7</td>
                    <td style="width: 14.2615%;">9</td>
                    <td style="width: 14.2615%;">11</td>
                    <td style="width: 14.2615%;">13</td>
                    <td style="width: 14.276%;">15</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          class="pagebuilder-column-line"
          data-content-type="column-line"
          data-element="main"
          data-pb-style="BPAUNX1"
        >
          <div
            class="pagebuilder-column"
            data-content-type="column"
            data-appearance="full-height"
            data-background-images="{}"
            data-element="main"
            data-pb-style="XDM3AX1"
          >
            <div
              class="size-chart__title1"
              data-content-type="text"
              data-appearance="default"
              data-element="main"
            >
              <p>MEASUREMENT CHART CENTIMETRES</p>
            </div>
            <div class="size-chart__text1" data-content-type="text" data-appearance="default" data-element="main">
              <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                  <tr>
                    <td style="width: 14.2615%;">Size</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.2615%;">12</td>
                    <td style="width: 14.2615%;">14</td>
                    <td style="width: 14.276%;">16</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Bust</td>
                    <td style="width: 14.2615%;">82-84</td>
                    <td style="width: 14.2615%;">85-87</td>
                    <td style="width: 14.2615%;">90-92</td>
                    <td style="width: 14.2615%;">95-97</td>
                    <td style="width: 14.2615%;">100-102</td>
                    <td style="width: 14.276%;">105-107</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Waist</td>
                    <td style="width: 14.2615%;">60.5-63.5</td>
                    <td style="width: 14.2615%;">65-68</td>
                    <td style="width: 14.2615%;">70-73</td>
                    <td style="width: 14.2615%;">75-78</td>
                    <td style="width: 14.2615%;">80-83</td>
                    <td style="width: 14.276%;">85-88</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Hips</td>
                    <td style="width: 14.2615%;">92-94</td>
                    <td style="width: 14.2615%;">95-97</td>
                    <td style="width: 14.2615%;">100-102</td>
                    <td style="width: 14.2615%;">105-107</td>
                    <td style="width: 14.2615%;">110-112</td>
                    <td style="width: 14.276%;">115-117</td>
                  </tr>
                </tbody>
              </table>
              <p>
                Measurements are in centimetres and are to be used as a guideline only. Each style may vary depending on
                fabric, cut, style and silhouette.
              </p>
            </div>
          </div>
        </div>
        <div
          class="pagebuilder-column-line"
          data-content-type="column-line"
          data-element="main"
          data-pb-style="GTBAI82"
        >
          <div
            class="pagebuilder-column"
            data-content-type="column"
            data-appearance="full-height"
            data-background-images="{}"
            data-element="main"
            data-pb-style="FYJ2UR7"
          >
            <div
              class="size-chart__title1"
              data-content-type="text"
              data-appearance="default"
              data-element="main"
            >
              <p>MEASUREMENT CHART INCHES</p>
            </div>
            <div class="size-chart__text1" data-content-type="text" data-appearance="default" data-element="main">
              <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                  <tr>
                    <td style="width: 14.2615%;">Size</td>
                    <td style="width: 14.2615%;">6</td>
                    <td style="width: 14.2615%;">8</td>
                    <td style="width: 14.2615%;">10</td>
                    <td style="width: 14.2615%;">12</td>
                    <td style="width: 14.2615%;">14</td>
                    <td style="width: 14.276%;">16</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Bust</td>
                    <td style="width: 14.2615%;">32-33</td>
                    <td style="width: 14.2615%;">34-35</td>
                    <td style="width: 14.2615%;">36-37</td>
                    <td style="width: 14.2615%;">37-38</td>
                    <td style="width: 14.2615%;">39-40</td>
                    <td style="width: 14.276%;">41-42</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Waist</td>
                    <td style="width: 14.2615%;">24-25</td>
                    <td style="width: 14.2615%;">26-27</td>
                    <td style="width: 14.2615%;">28-29</td>
                    <td style="width: 14.2615%;">30-31</td>
                    <td style="width: 14.2615%;">32-33</td>
                    <td style="width: 14.276%;">34-36</td>
                  </tr>
                  <tr>
                    <td style="width: 14.2615%;">Hips</td>
                    <td style="width: 14.2615%;">36-37</td>
                    <td style="width: 14.2615%;">38-39</td>
                    <td style="width: 14.2615%;">40-41</td>
                    <td style="width: 14.2615%;">42-43</td>
                    <td style="width: 14.2615%;">44-45</td>
                    <td style="width: 14.276%;">46-47</td>
                  </tr>
                </tbody>
              </table>
              <p>
                Measurements are in inches and are to be used as a guideline only. Each style may vary depending on
                fabric, cut, style and silhouette.If you would like to know more information regarding a particular size
                or style please call us anytime during business hours (AEST 9:00 AM-5:00 PM) on +61396899144 or email us
                at orders@tonimaticevski.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
