<div
  id="mageplaza-betterpopup-block"
  class="mageplaza-betterpopup-block"
  style="display: none;"
>
  <aside
    role="dialog"
    class="modal-popup popup__subscibe modal-slide _show"
    aria-describedby="modal-content-28"
    data-role="modal"
    data-type="popup"
    tabindex="0"
    style="z-index: 902;"
  >
    <div id="mageplaza-betterpopup-block" data-role="focusable-start" tabindex="0"></div>
    <div id="bio_ep" class="modal-inner-wrap" data-role="focusable-scope">
      <header class="modal-header">
        <button id="bio_ep_close" class="action-close" data-role="closeBtn" type="button">
          <span>Close</span>
        </button>
      </header>
      <div id="modal-content-28" class="modal-content" data-role="content">
        <div class="subscribe-popup" style="">
          <div class="subscribe-popup__content">
            <div class="subscribe-popup__title">
              <strong> Subscribe </strong>
            </div>
            <div class="subscribe-popup__text">
              <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
                Sign up to find out the latest news from Maticevski. <br>
                We will email you from time to time, keeping you up <br>
                to date with events, sales, and new season launches.
              </div>
            </div>
            <div class="subscribe-popup__form">
              <form
                class="form subscribe"
                novalidate="novalidate"
                action="#"
                method="post"
                id="subscribe-form"
              >
                <div class="field newsletter">
                  <div class="control">
                    <label for="newsletter-2">
                      <span class="label"> Sign Up for Our Newsletter: </span>
                      <input
                        name="email"
                        type="email"
                        id="newsletter-2"
                        placeholder="Email"
                        data-validate="{required:true, 'validate-email':true}"
                      >
                    </label>
                  </div>
                </div>
                <div class="subscribe-popup__errors"></div>
                <div class="actions">
                  <button
                    class="action subscribe primary subscribe-popup__submit"
                    title="Submit"
                    type="submit"
                    aria-label="Submit"
                  >
                    <span>Submit</span>
                  </button>
                </div>
                <input type="hidden" name="form_key" value="ANp9dHEwHZphqyYl">
              </form>
            </div>
            <div class="subscribe-popup__notice">
              By choosing ‘submit’ you accept the terms of our
              <a href="#">privacy policy</a>
            </div>
          </div>
          <div class="subscribe-popup__success">
            <div class="subscribe-popup__title">
              <strong> THANK YOU </strong>
            </div>
            <div class="subscribe-popup__text">
              <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
                Thank you for subscribing<br>
                <ul>
                  <li><a href="#">STORE HOME</a></li>
                  <li><a href="#">MY ACCOUNT</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
  </aside>
</div>
