<footer class="page-footer">
  <div class="footer">
    <div class="footer-container">
      <div class="top">
        <div class="hidden-mobile">
          <div class="row justify-content-between">
            <div class="col-xs col-lg-3">
              <a href="#" class="footer-trigger-link">Maticevski</a>
            </div>
            <div class="col-xs col-lg-4">
              <a href="#" class="footer-trigger-link">Customer service</a>
            </div>
            <div class="col-xs col-lg-5">
              <a href="#" class="footer-trigger-link">Social</a>
            </div>
            <div class="col-xs col-lg">
              <a href="#" class="footer-trigger-link">Subscribe</a>
            </div>
          </div>
        </div>
        <div class="hidden-desktop active">
          <a href="#" class="footer-trigger-link">
            <span>DETAILS</span>
          </a>
        </div>
      </div>

      <div class="bottom">
        <div class="row justify-content-between">
          <div class="col-xs col-lg-3 mobile-order_2">
            <div class="footer-links">
              <h4 class="hidden-desktop">Maticevski</h4>
              <div data-content-type="row" data-appearance="contained" data-element="main">
                <div
                  data-enable-parallax="0"
                  data-parallax-speed="0.5"
                  data-background-images="{}"
                  data-background-type="image"
                  data-video-loop="true"
                  data-video-play-only-visible="true"
                  data-video-lazy-load="true"
                  data-video-fallback-src=""
                  data-element="inner"
                  data-pb-style="ETGB96X"
                >
                  <div data-content-type="text" data-appearance="default" data-element="main">
                    <ul>
                      <li><a tabindex="0" href="#">History&nbsp;</a></li>
                      <li><a tabindex="0" href="#">Stockists</a></li>
                      <li>
                        <a
                          tabindex="0"
                          title="S&amp;E Policy"
                          href="#"
                          >S &amp; E Policy</a
                        >
                      </li>
                      <li>
                        <a tabindex="0" title="Privacy policy" href="#">Privacy policy</a>
                      </li>
                      <li>
                        <a tabindex="0" href="#">Terms &amp; Conditions</a>
                      </li>
                      <li>
                        <a tabindex="0" title="Join our team" href="#">Join our team</a>
                      </li>
                      <li>
                        <a tabindex="0" title="Security" href="#">Security</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs col-lg-4 mobile-order_3">
            <div class="footer-links">
              <h4 class="hidden-desktop">Customer service</h4>
              <div data-content-type="row" data-appearance="contained" data-element="main">
                <div
                  data-enable-parallax="0"
                  data-parallax-speed="0.5"
                  data-background-images="{}"
                  data-background-type="image"
                  data-video-loop="true"
                  data-video-play-only-visible="true"
                  data-video-lazy-load="true"
                  data-video-fallback-src=""
                  data-element="inner"
                  data-pb-style="HLSM5YY"
                >
                  <div data-content-type="text" data-appearance="default" data-element="main">
                    <ul id="CVO5JDT">
                      <li><a id="NPCXDQ9" tabindex="0" href="#">Faqs</a></li>
                      <li>
                        <a tabindex="0" title="Contact Us" href="#">Contact Us</a>
                      </li>
                      <li>
                        <a
                          tabindex="0"
                          title="Shipping &amp; Delivery"
                          href="#"
                          >Shipping &amp; Delivery</a
                        >
                      </li>
                      <li>
                        <a tabindex="0" title="Returns" href="#">Returns Policy</a>
                      </li>
                      <li>
                        <a tabindex="0" title="Sizing Chart" href="#">Sizing Chart</a>
                      </li>
                      <li>
                        <a tabindex="0" title="Product Care" href="#">Product Care</a>
                      </li>
                      <li>
                        <a tabindex="0" title="Susutainability" href="#">Sustainability</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs col-lg-5 mobile-order_4">
            <div class="footer-links footer-links-columns">
              <h4 class="hidden-desktop">Social</h4>
              <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
                <ul class="follow-us-list items">
                  <li class="item">
                    <a class="action icon icon-instagram" href="#"><span>Instagram</span></a>
                  </li>
                  <li class="item">
                    <a class="action icon icon-tiktok" href="#"><span>Tiktok</span></a>
                  </li>
                  <li class="item">
                    <a
                      class="action icon icon-youtube"
                      &quot;
                      href="#"
                      ><span>Youtube</span></a
                    >
                  </li>
                  <li class="item">
                    <a class="action icon icon-pinterest" href="#"><span>Pinterest</span></a>
                  </li>
                  <li class="item">
                    <a class="action icon icon-facebook" href="#"><span>Facebook</span></a>
                  </li>
                  <li class="item">
                    <a
                      class="action icon icon-linkedin"
                      href="#"
                      ><span>Linkedin</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs col-lg mobile-order_1">
            <div class="footer-links-columns newsletter-column">
              <h4 class="hidden-desktop">Subscribe</h4>
              <ul>
                <li>
                  <div class="block newsletter">
                    <div class="title"><strong>Subscribe</strong></div>
                    <div class="content">
                      <form
                        class="form subscribe"
                        novalidate
                        action="#"
                        method="post"
                        id="newsletter-validate-detail"
                      >
                        <div class="field newsletter">
                          <div class="control">
                            <label for="newsletter">
                              <span class="label"> Sign Up for Our Newsletter: </span>
                              <input
                                name="email"
                                type="email"
                                id="newsletter"
                                placeholder="Email&#x20;Address"
                                data-mage-init='{"mage/trim-input":{}}'
                                data-validate="{required:true, 'validate-email':true}"
                              >
                            </label>
                          </div>
                        </div>
                        <div class="actions">
                          <button
                            class="action subscribe primary"
                            title="Register"
                            type="submit"
                            aria-label="Subscribe"
                          >
                            <span>Register</span>
                          </button>
                        </div>
                      </form>
                      <div class="form-errors"></div>
                      <div class="form-success"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md">
            <small class="copyright">
              <span>&copy; 2023 Toni Maticevski. All Rights Reserved.</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [],
  "presets": [
    {
      "name": "footer"
    }
  ]
}
{% endschema %}
