<head>
  <title>Modern Womens Fashion | Maticevski</title>
  <script type="text/x-magento-init"></script>

  <style>
    #social-login-popup .social-login-title {
      background-color: #6e716e;
    }

    #social-login-popup .social-login #bnt-social-login-authentication,
    #social-login-popup .forgot .primary button,
    #social-login-popup .create .primary button,
    #social-login-popup .fake-email .primary button {
      background-color: #6e716e;
      border: #6e716e;
    }

    .block.social-login-authentication-channel.account-social-login .block-content {
      text-align: center;
    }

    #bnt-social-login-fake-email {
      background-color: grey !important;
      border: grey !important;
    }

    #request-popup .social-login-title {
      background-color: grey !important;
    }

    /* Compatible ETheme_YOURstore*/
    div#centerColumn .column.main .block.social-login-authentication-channel.account-social-login {
      max-width: 900px !important;
      margin: 0 auto !important;
    }

    div#centerColumn .column.main .block.social-login-authentication-channel.account-social-login .block-content {
      text-align: center;
    }

    @media (max-width: 1024px) {
      div#centerColumn .column.main .block.social-login-authentication-channel.account-social-login .block-content {
        padding: 0 15px;
      }
    }
  </style>
  {% comment %}
    <link rel="alternate" hreflang="en-us" href="https://maticevski.com/us/">
    <link rel="alternate" hreflang="x-default" href="https://maticevski.com/">
    <link rel="alternate" hreflang="en-au" href="https://maticevski.com/">
    <link rel="alternate" hreflang="en-gb" href="https://maticevski.com/gb/">
  {% endcomment %}
</head>

{% schema %}
{
  "name": "head",
  "settings": [],
  "presets": [
    {
      "name": "head"
    }
  ]
}
{% endschema %}
