<main id="maincontent" class="page-main">
  {% comment %}
    <a id="contentarea" tabindex="-1"></a>
    <div class="page messages">
      <div data-placeholder="messages"></div>
      <div>
        <div
          aria-atomic="true"
          role="alert"
          class="messages"
        >
        </div>
        <div
          aria-atomic="true"
          role="alert"
          class="messages"
        ></div>
      </div>
    </div>
  {% endcomment %}
  <div class="columns">
    <div class="column main">
      {% comment %}
        <input name="form_key" type="hidden" value="wSThU2Qktaj4qLSD">
        <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}"></div>
      {% endcomment %}
      <div data-content-type="row" data-appearance="contained" data-element="main">
        <div
          data-enable-parallax="0"
          data-parallax-speed="0.5"
          data-background-images="{}"
          data-background-type="image"
          data-video-loop="true"
          data-video-play-only-visible="true"
          data-video-lazy-load="true"
          data-video-fallback-src=""
          data-element="inner"
          data-pb-style="OQ3FLKC"
        ></div>
      </div>
    </div>
  </div>
</main>
{% schema %}
{
  "name": "main",
  "settings": [],
  "presets": [
    {
      "name": "main"
    }
  ]
}
{% endschema %}
