/* .background-image-67bdd7c978f22 {
  background-image: url(banner.jpg);
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
  .background-image-67bdd7c978f22 {
    background-image: url(banner.jpg);
  }
}
@media only screen and (max-width: 640px) {
  .background-image-67bdd7c978f22 {
    background-image: url(banner.jpg);
  }
} */

/* custom styles */
@media only screen and (min-width: 768px) {
  .custom-banner {
    height: 728.531px !important;
    object-fit: cover;
    background-size: cover;
    object-position: top;
  }
}

/* navbar and banner space styles */
#html-body [data-pb-style="A4ATMFV"],
#html-body [data-pb-style="GPOU8IH"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="A4ATMFV"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 527px;
}
#html-body [data-pb-style="GPOU8IH"] {
  align-self: stretch;
}
#html-body [data-pb-style="SIEV96G"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="WB80MFR"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  align-self: stretch;
}

/*homepage row 3 style */

#html-body [data-pb-style="ETQMHBX"],
#html-body [data-pb-style="I77MUE9"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="ETQMHBX"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
#html-body [data-pb-style="I77MUE9"] {
  align-self: stretch;
}
#html-body [data-pb-style="N9P2N9O"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="RQPN3UP"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 58.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="P8X3CUD"] {
  border-width: 1px;
}
#html-body [data-pb-style="CU7Y02R"] {
  text-align: left;
}
#html-body [data-pb-style="JNFV2SJ"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="ACKOO9H"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="SXKQ9QN"] {
  text-align: center;
}
#html-body [data-pb-style="N7A8CTQ"] {
  border-width: 1px;
}
#html-body [data-pb-style="A7Y6XFI"] {
  text-align: left;
}
#html-body [data-pb-style="GHSPM9N"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="YX7RGQ9"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="OARE2DN"] {
  border-style: none;
}
#html-body [data-pb-style="T5Q1D5J"],
#html-body [data-pb-style="Y8F441Y"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="GC01RNR"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 41.6667%;
  align-self: stretch;
}
#html-body [data-pb-style="OLDOTE4"] {
  border-width: 1px;
}
#html-body [data-pb-style="SA1F075"] {
  text-align: left;
}
#html-body [data-pb-style="O6SF7QH"] {
  text-align: right;
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="JEODTRF"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
@media only screen and (max-width: 768px) {
  #html-body [data-pb-style="OARE2DN"] {
    border-style: none;
  }
}

/* row 3 size styles */

#html-body [data-pb-style="IF2KLBS"],
#html-body [data-pb-style="QO4C5MX"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="IF2KLBS"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
#html-body [data-pb-style="QO4C5MX"] {
  align-self: stretch;
}
#html-body [data-pb-style="SLKI2OR"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="HGJ9KPQ"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 33.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="QR9HONP"] {
  border-style: none;
}
#html-body [data-pb-style="H4XTM4I"],
#html-body [data-pb-style="MLWX89A"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="A3HUN9H"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 33.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="G9CLN5X"] {
  border-style: none;
}
#html-body [data-pb-style="BJ3Q5C5"],
#html-body [data-pb-style="P63BUDJ"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="XF9NGQ2"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 33.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="MP2PARK"] {
  border-style: none;
}
#html-body [data-pb-style="HATX9OG"],
#html-body [data-pb-style="NDWAKOO"] {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  #html-body [data-pb-style="G9CLN5X"],
  #html-body [data-pb-style="MP2PARK"],
  #html-body [data-pb-style="QR9HONP"] {
    border-style: none;
  }
}

#html-body [data-pb-style="ETGB96X"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#html-body [data-pb-style="HLSM5YY"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#html-body [data-pb-style="AIF4TLC"],
#html-body [data-pb-style="DLDJTXP"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="AIF4TLC"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
#html-body [data-pb-style="DLDJTXP"] {
  align-self: stretch;
}
#html-body [data-pb-style="MYF4P7G"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="V6VW8MX"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  align-self: stretch;
}
#html-body [data-pb-style="BPAUNX1"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="XDM3AX1"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  align-self: stretch;
}
#html-body [data-pb-style="GTBAI82"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="FYJ2UR7"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  align-self: stretch;
}

#html-body [data-pb-style="OQ3FLKC"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="KQWBTWW"] {
  display: none;
}

#html-body [data-pb-style="XUQUU4B"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#html-body [data-pb-style="GAIFDFK"],
#html-body [data-pb-style="JJ78FUK"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="JJ78FUK"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
#html-body [data-pb-style="GAIFDFK"] {
  align-self: stretch;
}
#html-body [data-pb-style="Y788QL8"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="JKJB8NA"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 58.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="LCOQALP"] {
  border-width: 1px;
}
#html-body [data-pb-style="FCFTDTG"] {
  text-align: left;
}
#html-body [data-pb-style="C1663Q5"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="JVHMB1J"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="QMTBP11"] {
  text-align: center;
}
#html-body [data-pb-style="HXMYJN9"] {
  border-width: 1px;
}
#html-body [data-pb-style="J8QB4FR"] {
  text-align: left;
}
#html-body [data-pb-style="SJD5V3U"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="CG2EQ50"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="T67MMKF"] {
  border-style: none;
}
#html-body [data-pb-style="LO5044V"],
#html-body [data-pb-style="N8OXQIF"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="EWJLTR1"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 41.6667%;
  align-self: stretch;
}
#html-body [data-pb-style="WF3K029"] {
  border-style: none;
}
#html-body [data-pb-style="TW03ABS"],
#html-body [data-pb-style="VIGYWQQ"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="S4U7RGA"] {
  border-style: none;
}
#html-body [data-pb-style="H3LR09C"],
#html-body [data-pb-style="I1UQL6M"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="AD42AE9"] {
  border-style: none;
}
#html-body [data-pb-style="CR77LWP"],
#html-body [data-pb-style="UIXULNX"] {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  #html-body [data-pb-style="AD42AE9"],
  #html-body [data-pb-style="S4U7RGA"],
  #html-body [data-pb-style="T67MMKF"],
  #html-body [data-pb-style="WF3K029"] {
    border-style: none;
  }
}

#html-body [data-pb-style="DIUSEY5"],
#html-body [data-pb-style="HT3DT8V"] {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="DIUSEY5"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
#html-body [data-pb-style="HT3DT8V"] {
  align-self: stretch;
}
#html-body [data-pb-style="GRDBFXL"] {
  display: flex;
  width: 100%;
}
#html-body [data-pb-style="MPVV54Q"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 41.6667%;
  align-self: stretch;
}
#html-body [data-pb-style="Q0GJX1R"] {
  border-style: none;
}
#html-body [data-pb-style="B0PJAB7"],
#html-body [data-pb-style="V4NE55K"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="DY9BJND"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 58.3333%;
  align-self: stretch;
}
#html-body [data-pb-style="UXX5XCU"] {
  border-width: 1px;
}
#html-body [data-pb-style="MR1HF93"] {
  text-align: left;
}
#html-body [data-pb-style="PU02VDG"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="LSDNWUF"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="J7N5BNA"] {
  border-style: none;
}
#html-body [data-pb-style="E6OV3E6"],
#html-body [data-pb-style="EFTOMFE"] {
  max-width: 100%;
  height: auto;
}
#html-body [data-pb-style="SF7KLS6"] {
  border-width: 1px;
}
#html-body [data-pb-style="K8UUU39"] {
  text-align: left;
}
#html-body [data-pb-style="PO1QICO"] {
  border-width: 1px;
  min-height: 300px;
}
#html-body [data-pb-style="VWKHT2K"] {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#html-body [data-pb-style="SWMBUNF"] {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #html-body [data-pb-style="J7N5BNA"],
  #html-body [data-pb-style="Q0GJX1R"] {
    border-style: none;
  }
}
